@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {

  .btn {
    @apply bg-zinc-500 px-4 py-2 rounded-md;
    @apply hover:bg-zinc-700 hover:cursor-pointer;
  }

  .btn-info {
    @apply bg-blue-500 px-4 py-2 rounded-md;
    @apply hover:bg-blue-700 hover:cursor-pointer;
  }

  .btn-remove {
    @apply bg-red-500 px-4 py-2 rounded-md;
    @apply hover:bg-red-500-700 hover:cursor-pointer;
  }

  .input {
    @apply bg-black/20 px-4 py-2 rounded-md;
    @apply focus:outline-none;
    @apply focus:ring-2 focus:ring-white/30;
  }
}
